body {
 font-family: 'Cormorant Garamond';
 font-weight: 400;
 font-size: 28px;
 justify-content: center;
}

section {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
}
.main {
    font-size: 30px;
}